body {
    font-family: 'Arial', sans-serif;
    background-color: #f8cdfc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 350px;
    text-align: center;
  }
  
  .card header h1 {
    color: #e91e63;
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  .message {
    color: #333;
    display: none;
  }
  
  button {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #c2185b;
  }
  